{% extends "dash/base.html" %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8">
        <main role="main" class="container">
            {% if user.profile.role == 'employer' %}
                <!-- FAQ Section -->
                <div id="faqs" class="faq-section">
                    <div class="text-center">
                        <h1 class="mb-5">FAQs</h1>
                    </div>
                    <div class="faq-content">
                        <p><strong>Q1:</strong> What are the conditions for field registration?</p>
                        <p><strong>A:</strong> The student must have completed more than 90 units.</p>
                        
                        <p><strong>Q2:</strong> What is the required rate for the field?</p>
                        <p><strong>A:</strong> A GPA of 2.2 and above is required.</p>
                        
                        <p><strong>Q3:</strong> How many units are needed to register for the field?</p>
                        <p><strong>A:</strong> 90 units and above.</p>
                        
                        <p><strong>Q4:</strong> How many hours is the field training?</p>
                        <p><strong>A:</strong> 4 hours a day.</p>
                        
                        <p><strong>Q5:</strong> What are the field training days for the first and second semesters?</p>
                        <p><strong>A:</strong> Sunday, Tuesday, and Thursday.</p>
                        
                        <p><strong>Q6:</strong> What are the field training days in the summer semester?</p>
                        <p><strong>A:</strong> All days of the week.</p>
                    </div>
                </div>
            {% else %}
                {% for post in posts %}
                    <article class="media content-section">
                        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="Profile Pic">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2" href="{% url 'user_profile' post.author.id %}">{{ post.author }}</a>
                                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                            </div>
                            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                            <p class="article-content">{{ post.content }}</p>
                        </div>
                    </article>
                {% endfor %}
            {% endif %}
        </main>
    </div>
</div>
{% endblock content %}
